body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
	padding:0px;
	margin:0px;
	border:0px;
	font: normal 15px/21px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
	overflow: hidden;
}

#info {
	height: 100vh;
	width: 20%;
	background-color: #b0c4de;
	float: left;
}

#selfie {
	width: 70%;
	margin-left: 15%;
	height: 28%;
	margin-top: 15%;
	background-color: #FFFFFF;
}

#signature {
	width: 70%;
	height: 11%;
	margin-left: 15%;
	margin-top: 10%;
	background-color: #FFFFFF;
}

#topHr {
	width: 80%;
	height: .5px;
	margin-top: 2%;
}

#bottomHr {
	width: 80%;
	height: .5px;
	margin-top: 6%;
}

#aboutBox {
	position: absolute;
	width: 80%;
	height: 75%;
	background-color: #F5F5F5;
	margin-left: 20%;
	margin-top: 100px;
}

#aboutMe {
	margin: 0 0 0 0;
	height: 65%;
}

#aboutText {
	margin-left: 25%;
	color: #696969;
	width: 50%;
	height: 70%;
	vertical-align: middle;
	text-align: center;
	font-size: 25px;
	line-height: 130%
}

#contact {
	width: 50%;
	text-align: center;
	margin-left: 25%;
}

#facebook {
	color: #0047ab;
}

#email {
	color: #c80815;	
}

#email, #facebook {
	margin-right: 3%;
	font-size: 20px;
}

#work {
	width: 50%;
	text-align: center; 
	margin-left: 24%;
	color: #505050;
	font-size: 23px;
}

#sold {
	margin: 2% 0 15px 40%;
	width: 20%;
	color: #696969;
	font-size: 23px;
	text-align: center;
}



#li {
	font-size: 23px;
	float: left;
	position: relative;
}

.link {
	color: #555555;
	list-style: none;
}

.link:hover {	
	color: #777777;

}





a {
	text-decoration: none;
}
