.hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: #b0c4de;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 40%;
        width: 20%;
        display: block;
        text-align: center;
        font-size: 1.25rem;
        height: 100%;
        line-height: 100%;
        vertical-align: middle;
    }
}

